nav{
    background-color: #B31254;
    height: auto;
    display: block;
    float: left;


}

@media only screen and (max-width: 600px) {
    .mheader{
        display: none;
    }
}

nav ul li{
    font-size: x-large;
    list-style-type: none;
    float: left;
    margin-right: 10px;
    
}

#logoimg{
    width: 110px;
    height: 100px;
}

.logoc{
    border-radius: 100px;
    width: 120px;
    height: 120px;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
}

.logoCel{
    display: none;
}

@media only screen and (max-width: 600px) {
    .logoCel{
        display: block;
    }
}