header{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: #FF0D70;
}

main{
    width: 70%;
    height: 750px;
    display: block;
    float: left;
    background-color: #1D0A24;
}

aside{
    width: 30%;
    height: 750px;
    display: block;
    float: left;
    background-color: #FF0D70;
}
.A4{
    margin-left: 40px;
}
ul li{
    margin-left: 20px;
    
}
aside img{
    height: 300px;
    width: 70%;
    margin-left: 58px;
    margin-top: 5px;
}
aside #wrap {
    width: 100%;
    margin: 0 auto;
    }
    
aside #external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
    }
    
aside #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
    }
    
aside .external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
    }
    
aside #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
    }
    
aside #external-events p input {
    margin: 0;
    vertical-align: middle;
    }

aside #calendar {
/* 		float: right; */
    margin: 0 auto;
    width: 900px;
    background-color: #FFFFFF;
      border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
    }

footer{
    width: 100%;
    height: 100px;
    display: block;
    float: left;
    background-color: #B31254;
}