header{
    width: 100%;
    height: auto;
    display: block;
    float: left;
    background-color: #FF0D70;
}

body{
    background-color: #1D0A24!important;
}

main{
    width: auto;
    overflow-x: hidden;
    display: block;
    float: left;
    background-color: #1D0A24;
    padding-bottom: 100px;
}

/*Noticias*/
.paragrafo-artigo{
    font-weight: 300;
    line-height: 32px;
    font-size: 1em;
}
.imagem-artigo{
    font-weight: 300;
    font-size: small;
}
.titulo{
    font-size: 4rem;
}
.subtitulo{
    font-size: 1.125rem;
    font-weight: 300;
}
.imgLolla1{
    height: 350px;
}
.imgLolla2{
    height: 350px;
}
.semelhantes{
    font-weight: 300;
}
.editoriaIMG{
    width: 100%;
    height: 120px;
}
@media only screen and (max-width: 600px) {

    .titulo{
        font-size: 1.7rem;
    }
    .imgLolla1 {
        height: 260px!important;
        max-height: 260px!important;
    }
    .imgLolla2{
        height: 310px!important;
        max-height: 310px!important;
    }
    .h5-outras{
        font-size: medium;
    }
    .p-outras{
        font-size: small;
    }
    .card-body{
        padding: 0%!important;
    }
    .col-12{
        padding-right: 1%!important;
    }

}

.h1not{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
}
.h2not{
     color: white;
}

.textolegal {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 20px;
    padding-top: 10px;
}
.pnoticia {
    font-weight: 300;
}
.h5not{
    margin-right: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
}
.imgum{
    height: 300px; 
    width: 86%;
}
.textoimagem {
    height: auto;
    width: 50%;
}


aside{
    width: auto;
    height: auto;    overflow-x: hidden;
    display: flex;
    float: left;
    background-color: #1D0A24;
    background-size: cover;
    padding-bottom: 100px;
}

.A4{
    margin-top: 11.5%;
    font-size: 35px;
    
}
ul li{
    margin-left: 20px;
}

a{
    color: rgb(0, 0, 0);
}
a:visited{
    color:rgb(0, 0, 0);
}


footer{
    width: 100%;
    height: auto;
    display: block;
    float: left;
    background-color: #141513;
}

footer img{
    margin-top: 5%;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
footer p{
    padding-top: 5%;
    margin-left: 25px;
    color: aliceblue;
    font-size: 15px;
}

footer p, img{
    display: inline-block;
}
footer ul {
    list-style-type: none;
    float: left;
}
.divisão {
    float:left;
}

.mapafooter{
    margin-top: 1.7%;
    height: auto;

}

img{
    height: 200px;
}

.carousel{
    height: 300px;
}

.cardcar{
    width: 100%;
    height: 300px;
}
.h5div {
    margin-top: 35%;
    text-shadow: 0px 0px 7px black;
}
.shadow {
    text-shadow: 0px 0px 7px black;
}
aside li{
    padding-top: 5%;
    font-size:22px;
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 1px white;
    margin-top: 15%;
}
.A4_5 {
    margin-top: 11.5%;
    font-size: 35px;
}
#li2 {
    padding-top: 5%;
    font-size:22px;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 1px white;
    margin-top: 15%;
}